body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.term {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.56);  
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.term-header {
  text-align: center;
  padding: 5px;
  background: linear-gradient(#e2e0e2, #c7c6c8);
}
.term-content { 
  overflow-y: auto;     
  padding: 10px;
  font-size: 14px;  
}
.term-content-arrow {
  color: #55f95d;
  margin-right: 10px;
}
.term-content-tilde {
  color: #54f9fb;
  margin-right: 10px;
}

#clear-icon {
  width: 30px;
  height: 30px;  
}

#buttons {      
  float: right;  
  position: relative; 
  bottom: 15px;
  right: 15px;
}